# ─── Base de datos local ───────────────────────────
DB_TYPE=
DUCKDB_PATH=

# ─── Databricks (vacío hasta crear cuenta) ─────────
DATABRICKS_HOST=
DATABRICKS_TOKEN=
DATABRICKS_HTTP_PATH=
DATABRICKS_CATALOG=
DATABRICKS_SCHEMA=

# ─── dbt ───────────────────────────────────────────
DBT_PROFILES_DIR=
DBT_TARGET=

# ─── Airflow ───────────────────────────────────────
AIRFLOW_HOME=
AIRFLOW__CORE__EXECUTOR=
AIRFLOW__CORE__LOAD_EXAMPLES=
AIRFLOW__CORE__DAGS_FOLDER=

# ─── GitHub (vacío hasta crear cuenta) ─────────────
GITHUB_USERNAME=
GITHUB_REPO=

# ─── App ───────────────────────────────────────────
ENV=
LOG_LEVEL=
PROJECT_ROOT=
