# Environment
.env

# Data files
data/raw/
data/bronze/
data/silver/
data/gold/
*.duckdb

# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
dist/
build/

# dbt
dbt/target/
dbt/dbt_packages/
dbt/logs/

# Logs
logs/

# Airflow
airflow/logs/
airflow/airflow.db

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/
.idea/
*.swp
dbt/.user.yml
docs/screenshots/
